:root {
    --hottest-of-pink: hotpink;
    --yellow: #FBC638;
    --orange: #FF6E0C;
}

/* Fonts */

@font-face {
    font-family: title-font;
    src: url(../fonts/BungeeInline-Regular.ttf) format('truetype');
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    font-family: roboto-regular;
    text-decoration: none;
}

/* Global */

h1 {
    color: var(--hottest-of-pink);
    font-family: title-font;
    font-size: 2em;
}

button {
    font-family: roboto-medium;
}

body {
    height: 100%;
}

body main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

body main:after,
body main:before {
    content: '';
    position: absolute;
    width: 5em;
    height: 5em;
}

body main:after {
    bottom: 0;
    right: 0;
    background-color: var(--hottest-of-pink);
}

body main:before {
    top: 0;
    left: 0;
    background-color: var(--orange);
}

body main > a {
    position: absolute;
    top: 1em;
}

body main > a:first-of-type {
    left: .5em;
}

body main > a:last-of-type {
    right: 1em;
}

body main h1 {
    text-align: center;
    padding: 0em .5em 0em .5em;
}

body main section {
    display: flex;
    align-items: center;
    height: 30dvh;
}

body main button {
    padding: 1em 2em 1em 2em;
    border: .5em double #fff;
    background-color: var(--hottest-of-pink);
    box-shadow: 3px 3px 0 #000000;
    transition: box-shadow 0.5s;
}

body main button:hover {
    box-shadow: 4px 4px 0 var(--yellow);
}
