:root {
    --hottest-of-pink: hotpink;
    --mooi-geel: #FBC638;
}

html, body {
    padding: 0;
    margin: 0;
}

/* Fonts */

@font-face {
    font-family: title-font;
    src: url(../fonts/BungeeInline-Regular.ttf) format('truetype');
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

/* Global */

h1 {
    color: var(--hottest-of-pink);
    font-family: title-font;
    font-size: 2em;
}

button {
    font-family: roboto-medium;
}

body {
    height: 100%;
}

body main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

body main h1 {
    text-align: center;
}

body main article {
    display: flex;
    align-items: center;
    height: 30dvh;
}

body main button {
    padding: 1em 2em 1em 2em;
    transform: skew(-15deg);
    border: .5em double #fff;
    background-color: var(--hottest-of-pink);
    box-shadow: 3px 3px 0 #000000;
    transition: box-shadow 0.5s;
}

body main button:hover {
    box-shadow: 5px 5px 0 var(--mooi-geel);
}
